In [1]:
import numpy as np
import pandas as pd
import seaborn as sb

In [2]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'

In [3]:
!wget $data

--2023-10-04 01:32:46--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8003::154, 2606:50c0:8000::154, 2606:50c0:8002::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8003::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: 'data.csv.34'

     0K .......... .......... .......... .......... ..........  3%  356K 4s
    50K .......... .......... .......... .......... ..........  6%  845K 3s
   100K .......... .......... .......... .......... .......... 10%  509K 3s
   150K .......... .......... .......... .......... .......... 13% 4.99M 2s
   200K .......... .......... .......... .......... .......... 17%  933K 2s
   250K .......... .......... .......... .......... .......... 20%  885K 2s
   300K .......... .......... .......... .......... .......... 24% 4.78M 1s
   350K .......... .......... .......... .......... .......... 27% 1011K 1s
   400K .......... .......... .......... .......... .......... 31%  701K 1s
   450K .......... .......... .......... .......... .......... 34% 1.34M 1s
   500K .......... .......... .......... .......... .......... 38% 2.34M 1s
   550K .......... .......... .......... .......... .......... 41% 2.18M 1s
   600K .......... .......... .......... .......... .......... 45% 1.39M 1s
   650K .......... .......... .......... .......... .......... 48% 1005K 1s
   700K .......... .......... .......... .......... .......... 52% 3.51M 1s
   750K .......... .......... .......... .......... .......... 55% 1.15M 1s
   800K .......... .......... .......... .......... .......... 58% 1.97M 1s
   850K .......... .......... .......... .......... .......... 62% 1.85M 0s
   900K .......... .......... .......... .......... .......... 65% 1.62M 0s
   950K .......... .......... .......... .......... .......... 69%  984K 0s
  1000K .......... .......... .......... .......... .......... 72% 2.89M 0s
  1050K .......... .......... .......... .......... .......... 76% 1.69M 0s
  1100K .......... .......... .......... .......... .......... 79% 2.23M 0s
  1150K .......... .......... .......... .......... .......... 83%  974K 0s
  1200K .......... .......... .......... .......... .......... 86% 2.17M 0s
  1250K .......... .......... .......... .......... .......... 90% 2.65M 0s
  1300K .......... .......... .......... .......... .......... 93% 3.19M 0s
  1350K .......... .......... .......... .......... .......... 97% 1015K 0s
  1400K .......... .......... .......... ..........           100% 2.44M=1.1s

2023-10-04 01:32:48 (1.23 MB/s) - 'data.csv.34' saved [1475504/1475504]

In [4]:
df= pd.read_csv('data.csv.3')

In [5]:
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [6]:
df.columns=df.columns.str.lower().str.replace(' ', '_')

In [7]:
df.head()

,make,model,year,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,msrp
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [8]:
cols=['make', 'model', 'year', 'engine_hp', 'engine_cylinders', 'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg', 'msrp']
df1=df[cols]
df2=df1

In [9]:
df1.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [10]:
df1=df1.rename(columns={'msrp':'price'})

In [11]:
df1.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [12]:
df1.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
price                 0
dtype: int64

In [13]:
df1=df1.fillna(0)

In [14]:
df1.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
dtype: int64

# Question 1

In [15]:
df1['transmission_type'].mode()

0    AUTOMATIC
Name: transmission_type, dtype: object

In [16]:
df1.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
price                  int64
dtype: object

In [17]:
#Categorical Variables
cat_var=list(df1.select_dtypes(include=['object']).columns)

In [18]:
cat_var

['make', 'model', 'transmission_type', 'vehicle_style']

# Question 2

In [19]:
df1[['city_mpg', 'engine_cylinders']].corrwith(df1.highway_mpg)

city_mpg            0.886829
engine_cylinders   -0.614541
dtype: float64

In [20]:
df1[['year', 'engine_cylinders']].corrwith(df1.engine_hp)

year                0.338714
engine_cylinders    0.774851
dtype: float64

In [21]:
above_average=[]

for x in df1.price.tolist():
    above_average.append(x>df1.price.values.mean())

In [22]:
above_average

[True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

In [23]:
df1.price=above_average

In [24]:
df1.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,True
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,True
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,False
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,False
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,False

In [25]:
df1.price=(df1.price == True).astype(int)

In [26]:
df1.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,0

In [27]:
def dfgen(s, dfx):
    np.random.seed(s)
    
    from sklearn.model_selection import train_test_split
    dfx_full_train, dfx_test = train_test_split(dfx, test_size=0.2, random_state=1)
    dfx_train,dfx_val=train_test_split(dfx_full_train, test_size=0.25, random_state=1)
    
    dfx_train=dfx_train.reset_index(drop=True)
    dfx_val=dfx_val.reset_index(drop=True)
    dfx_test=dfx_test.reset_index(drop=True)
    
    return dfx_train, dfx_val, dfx_test

In [28]:
s=42

df1_train, df1_val, df1_test=dfgen(s, df1)

In [29]:
df1_train

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,Toyota,Highlander Hybrid,2016,280.0,6.0,AUTOMATIC,4dr SUV,28,27,1
1,Chevrolet,Impala Limited,2014,300.0,6.0,AUTOMATIC,Sedan,30,18,0
2,Buick,Regal,2016,259.0,4.0,AUTOMATIC,Sedan,27,19,0
3,Volkswagen,CC,2015,280.0,6.0,AUTOMATED_MANUAL,Sedan,25,17,1
4,Dodge,Grand Caravan,2016,283.0,6.0,AUTOMATIC,Passenger Minivan,25,17,0
...,...,...,...,...,...,...,...,...,...,...
7143,Subaru,Impreza,2015,148.0,4.0,MANUAL,4dr Hatchback,33,24,0
7144,Infiniti,QX50,2016,325.0,6.0,AUTOMATIC,4dr SUV,24,17,0
7145,Honda,Fit,2017,130.0,4.0,AUTOMATIC,4dr Hatchback,37,32,0
7146,Audi,200,1991,162.0,5.0,AUTOMATIC,Sedan,20,16,0
7147,Infiniti,QX4,2003,240.0,6.0,AUTOMATIC,4dr SUV,18,14,0

In [30]:
df1_val

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,Nissan,370Z,2015,350.0,6.0,AUTOMATIC,Coupe,26,19,1
1,Pontiac,Firebird,2000,305.0,8.0,UNKNOWN,2dr Hatchback,23,15,0
2,Acura,RDX,2015,273.0,6.0,AUTOMATIC,4dr SUV,27,19,0
3,Kia,Sedona,2016,276.0,6.0,AUTOMATIC,Passenger Minivan,24,18,0
4,Nissan,Truck,1996,134.0,4.0,MANUAL,Regular Cab Pickup,24,19,0
...,...,...,...,...,...,...,...,...,...,...
2378,Chevrolet,Camaro,2017,455.0,8.0,MANUAL,Convertible,25,16,1
2379,Chevrolet,TrailBlazer,2007,291.0,6.0,AUTOMATIC,4dr SUV,20,14,0
2380,Suzuki,Kizashi,2013,180.0,4.0,AUTOMATIC,Sedan,29,22,0
2381,BMW,X6 M,2015,567.0,8.0,AUTOMATIC,4dr SUV,19,14,1
2382,Ford,Explorer Sport Trac,2008,292.0,8.0,AUTOMATIC,Crew Cab Pickup,20,13,0

# Question 3

In [31]:
from sklearn.metrics import mutual_info_score

In [32]:
def mutual_info_churn_score(series):
    return mutual_info_score(series, df1_train.price)

In [33]:
mi=round(df1_train[cat_var].apply(mutual_info_churn_score), 2)

In [34]:
mi.sort_values(ascending=False)

model                0.47
make                 0.24
vehicle_style        0.08
transmission_type    0.02
dtype: float64

# Question 4

In [35]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression

In [36]:
def accuracy_calc(s, df1t, df1v):
    #Converting Dataframe into Dictionary
    small_train_dicts=df1t[s].to_dict(orient='records')
    small_val_dicts=df1v[s].to_dict(orient='records')

    #Converting Dictionaries into Vectorized Dictionaries
    dv_small=DictVectorizer(sparse=False)
    dv_small.fit(small_train_dicts) 

    #Preparing Training Data
    X_train_small= dv_small.transform(small_train_dicts)
    y_train=df1t.price.values

    #Preparing Validation Data
    X_val_small= dv_small.transform(small_val_dicts)
    y_val_small=df1v.price.values

    #Logistic regression
    model_small=LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model_small.fit(X_train_small, y_train)

    #Bias (w0) and Weights(w)
    w0=model_small.intercept_[0]
    w=model_small.coef_[0].round(3)

    #Weights as Dictionaries
    dict(zip(dv_small.get_feature_names_out(), model_small.coef_[0].round(3)))

    #Predicting y variable values
    y_pred_small=model_small.predict_proba(X_val_small)[:, 1]

    #Converting probabilities into binary
    churn_decision=(y_pred_small>=0.5)
    churn_decision.astype(int)

    #Accuracy
    accuracy=(y_val_small==churn_decision).mean()
    return accuracy

In [37]:
var=['make', 'model', 'year', 'engine_hp', 'engine_cylinders', 'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg']
acc=accuracy_calc(var, df1_train, df1_val)
acc

0.9353755770037767

In [38]:
small=var

In [39]:
small

['make',
 'model',
 'year',
 'engine_hp',
 'engine_cylinders',
 'transmission_type',
 'vehicle_style',
 'highway_mpg',
 'city_mpg']

# Question 5

In [40]:
small

['make',
 'model',
 'year',
 'engine_hp',
 'engine_cylinders',
 'transmission_type',
 'vehicle_style',
 'highway_mpg',
 'city_mpg']

In [41]:
s1=['make','model','engine_hp','engine_cylinders', 'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg']
acc_y=accuracy_calc(s1, df1_train, df1_val)
acc-acc_y

-0.013428451531682817

In [42]:
s2=['make','model','year','engine_cylinders', 'transmission_type', 'vehicle_style', 'highway_mpg', 'city_mpg']
acc_eng=accuracy_calc(s2, df1_train, df1_val)
acc-acc_eng

0.00629458665547622

In [43]:
s3=['make','model','year','engine_hp','engine_cylinders', 'vehicle_style', 'highway_mpg', 'city_mpg']
acc_tr=accuracy_calc(s3, df1_train, df1_val)
acc-acc_tr

-0.00041963911036513313

In [44]:
s4=['make','model','year','engine_hp','engine_cylinders', 'transmission_type', 'vehicle_style', 'highway_mpg']
acc_city=accuracy_calc(s4, df1_train, df1_val)
acc-acc_city

-0.0012589173310952884

# Question 6

In [45]:
df2=df2.fillna(0)
df2=df2.rename(columns={'msrp':'price'})
seed=42
df2_train, df2_val, df2_test=dfgen(seed, df2)

In [46]:
df2_val.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
price                0
dtype: int64

In [47]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge 
from sklearn.metrics import mean_squared_error

#Converting Dataframe into Dictionary
train_dicts=df2_train[var].to_dict(orient='records')
val_dicts=df2_val[var].to_dict(orient='records')

#Converting Dictionaries into Vectorized Dictionaries
dv=DictVectorizer(sparse=False)
dv.fit(train_dicts)

#Preparing Training Data
X_train= dv.transform(train_dicts)
y_train=np.log1p(df2_train.price.values)

#Preparing Validation Data
X_val= dv.transform(val_dicts)
y_val=np.log1p(df2_val.price.values)

In [48]:
alpha =[0, 0.01, 0.1, 1, 10]
rmse_list=[]

for a in alpha:
    model = Ridge(alpha=a, solver='sag', random_state=42)
    model.fit(X_train, y_train)
    pred = model.predict(X_val)
    rmse = np.sqrt(mean_squared_error(pred, y_val))
    rmse_list.append(rmse)

rmse_list

C:\Users\athul\miniconda3\envs\ml-zoomcamp\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\athul\miniconda3\envs\ml-zoomcamp\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\athul\miniconda3\envs\ml-zoomcamp\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\athul\miniconda3\envs\ml-zoomcamp\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(
C:\Users\athul\miniconda3\envs\ml-zoomcamp\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

[0.4859903673241273,
 0.4859905683257047,
 0.48599237733118916,
 0.4860104628945794,
 0.4861908703944764]

In [49]:
alpha[rmse_list.index(min(rmse_list))]

0